// Pangea
@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-Regular.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-Medium.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Pangea";
  src: url("../../../../assets/fonts/Pangea/Pangea-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

// Pangea Text
@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-Regular.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-Bold.woff2")
    format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-Medium.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-Light.woff2")
    format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../../../../assets/fonts/PangeaText/PangeaText-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
